.typewriter {
    overflow: hidden;
    border-right: solid white;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    -webkit-animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@media screen and (width > 600px) {
    .typewriter {
        -webkit-animation:
            typing 4s steps(100, end),
            blink-caret .75s step-end infinite;
    }
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
    margin-top: 10px;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
}

@media screen and (width <= 2560px) {
    .main-body {
        max-width: 50%;
    }
}

@media screen and (width <= 768px) {
    .main-body {
        max-width: 100%;
    }
}

.home-hello {
    text-align: center;
}

.headshot {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (width > 600px) {
    .headshot {
        width: 300px;
        height: 300px;
    }
}

.headshot > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.home-section {
    margin-top: 16px;
    width: 100%;
}

.about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-container  {
    display: flex;
}

.social-link {
    width: 24px;
    filter: invert(95%) sepia(95%) saturate(0%) hue-rotate(200deg) brightness(106%) contrast(104%);
}