.header {
    font-family: jetbrains, monospace;
    text-transform: uppercase;
}

.header > h1 {
    margin: 0 4px 0 0;
}

.header > a {
    text-decoration: none;
    color: white;
}

.header-first-line {
    display: flex;
    align-items: end;
    margin-bottom: 0;
}

.header-first-line > div {
    font-size: 12px;
}

.header-second-line {
    display: flex;
}

@media screen and (width > 600px) {
    .header-first-line {
        justify-content: center;
    }

    .header-second-line {
        justify-content: center;
    }

    .header-item {
        padding-right: 32px;
    }
}

.header-item {
    margin-right: 8px;
    padding-bottom: 6px;
    font-weight: 100;
}

.header > h1 {
    font-weight: normal;
}

.header > a.active {
    text-decoration: underline;
    text-underline-offset: 3px;
}