.header {
    font-family: jetbrains, monospace;
    text-transform: uppercase;
}

.header-first-line {
    display: flex;
    align-items: end;
    margin-bottom: 0;
}

.header-first-line > div {
    font-size: 12px;
}

.header-second-line {
    display: flex;
}

.header-item {
    margin-right: 8px;
    padding-bottom: 6px;
    font-weight: 100;
}

.header > h1 {
    font-weight: normal;
}

.header > a.active {
    text-decoration: underline;
    text-underline-offset: 3px;
}