.typewriter {
    overflow: hidden;
    border-right: solid white;
    white-space: nowrap;
    margin: 0 auto;
    max-width: fit-content;
    -webkit-animation:
        typing 1.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@media screen and (width > 600px) {
    .typewriter {
        -webkit-animation:
            typing 4s steps(100, end),
            blink-caret .75s step-end infinite;
    }
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-hello {
    text-align: center;
}