@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Thin.woff2");
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-mono-light {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Plus Jakarta Sans";
}

html {
    height: 100%;
    background-color: #1a1b1e;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-family: jetbrains, monospace;
    margin: 0;
}

h2 {
    font-family: jetbrains, monospace;
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
}

h4 {
    margin: 0;
}

body {
    margin: 10px;
    height: 100%;
}

a {
    color: aqua;
    text-decoration: underline;
}

.text {
    padding-left: 1em;
    padding-right: 1em;
}