@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Thin.woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Plus Jakarta Sans";
}

html {
    height: 100%;
    background-color: #1a1b1e;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-family: jetbrains, monospace;
    margin: 0 10px 0 0;
}

h2 {
    font-family: jetbrains, monospace;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

body {
    margin: 10px;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}