@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: jetbrains;
    src: url("./fonts/jetbrains/JetBrainsMono-Thin.woff2");
    font-weight: 100;
    font-style: normal;
}

html {
    height: 100%;
    background-color: #1a1b1e;
    color: white
}

h1 {
    font-family: jetbrains, monospace;
    margin: 10px;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: end;
    font-family: jetbrains, monospace;
    text-transform: uppercase;
}

.header-item {
    margin-bottom: 10px;
    margin-right: 8px;
    padding-bottom: 5px;
    font-weight: 100;
}

.header > h1 {
    font-weight: normal;
}