.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    text-align: center;
    margin-bottom: 32px;
}

.gallery-item > img {
    object-fit: contain;
    max-width: 100%;
}

.gallery-item > .caption {
    margin-bottom: 8px;
}

.gallery-item > .date {
    font-size: 14px;
}