.preview-container {
    max-width: 100%;
    width: 500px;
    height: 300px;
}

.preview-img-container {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preview-info-container {
    background-color: black;
    border-radius: 0 0 10px 10px;
    padding: 5px 5px 10px;
}

.arrow-icon {
    filter: invert(100%);
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    margin: 8px;
}

@media screen and (width < 768px) {
    .arrow-icon {
        width: 32px;
        height: 32px;
    }
}

.flipped {
    transform: scale(-1, -1);
}