.preview-container {
    width: 500px;
    height: 400px;
}

.preview-img-container {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center center;
}

.preview-info-container {
    background-color: black;
    border-radius: 0 0 10px 10px;
    padding: 5px;
    padding-bottom: 10px;
}

.preview-arrow {

}